<div class="list-paginator-container">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      [(ngModel)]="searchQuery"
      (input)="applyFilter()"
      placeholder="Search Employee"
    />
  </mat-form-field>

  <mat-paginator
    *ngIf="pageData"
    [length]="pageData.totalElements"
    [pageSize]="pageData.size || pageSize"
    [pageIndex]="pageData.number || 0"
    [pageSizeOptions]="[10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<mat-list *ngIf="filteredEmployee.length > 0; else noData">
  <mat-list-item
    *ngFor="let person of filteredEmployee"
    class="underlined-item"
  >
    <div class="list-container">
      <a [routerLink]="['/user', person.id]">
        <img
          matListAvatar
          [src]="person.imageUrl || 'profile-picture.jpg'"
          alt="{{ person.firstName }} avatar"
          (error)="onImageError($event)"
        />
      </a>
      <div class="text-content">
        {{ person.firstName }} {{ person.middleName }} {{ person.lastName }}
      </div>

      <button
        mat-icon-button
        matTooltip="Update"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        matTooltipHideDelay="100"
        class="button"
        (click)="toggleUpdate(person.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Delete"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
        matTooltipHideDelay="100"
        class="button"
        (click)="toggleDelete(person.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>

<ng-template #noData>
  <p>No personal details found.</p>
</ng-template>
